@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap");

/* font-family: "Ojuju", sans-serif; */

/* font-family: "Rowdies", sans-serif; */

/* font-family: "Poppins", sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #0f1724;
  position: relative;
}
/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ojuju", sans-serif;
} */

nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.container {
  width: 80%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container h1 {
  color: white;
}

.resp {
  display: inline-block;
}
.resp-icons {
  display: none;
}

.link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.link-wrapper li {
  list-style: none;
}

.link-wrapper li a {
  color: white;
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-decoration: none;
}

.cta-icons {
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icon {
  cursor: pointer;
}

.responsive-wrapper {
  display: none;
  opacity: 0;
  transition: all 3s ease-in-out;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* // Media Screen for 950px \\ */

@media screen and (max-width: 950px) {
  nav {
    margin: 0;
  }
  .container {
    width: 85%;
    position: relative;
  }
  .container h1 {
    /* color: #0f1724; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    /* right: 0; */
    margin: auto;
    z-index: 10;
  }
  .link-wrapper {
    display: none;
  }
  .cta-icons {
    display: none;
  }
  .resp-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    margin: auto;
    z-index: 10;
  }

  .close {
    display: none;
  }
  .responsive-wrapper {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    display: none;
  }

  .responsive-wrapper ul li {
    list-style: none;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .responsive-wrapper li a {
    color: #0f1724;
    text-decoration: none;
    font-size: 1.2rem;
  }

  .cta-icons-resp {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

@media screen and (max-width: 750px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 92%;
  }
  .container h1 {
    font-size: 0.9rem;
  }
}

#hero {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.hero-container h1 {
  font-size: 4rem;
  margin-left: 30px;
  margin-bottom: 30px;
  line-height: normal;
  position: relative;
}
.name {
  position: relative;
}

.name::after {
  content: "Opeyemi";
  color: #13adc7;
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: -1;
}
.hero-container p {
  max-width: 800px;
  margin-left: 60px;
  margin-bottom: 30px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.77);
}

.cta {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 20px;
  margin-left: 90px;
  background-image: linear-gradient(
    to right,
    #13adc7 0%,
    #6978d1 67%,
    #945dd6 100%
  );
  color: white;
  font-weight: 400;
  font-size: 1.1rem;
}

@media screen and (max-width: 800px) {
  .hero-container {
    width: 85%;
  }
  .hero-container h1 {
    margin-left: 20px;
    font-size: 2.5rem;
  }
  .name::after {
    top: -3px;
    right: -3px;
  }
  .hero-container p {
    max-width: 500px;
    margin-left: 50px;
    font-size: 0.95rem;
  }
}
@media screen and (max-width: 480px) {
  .hero-container {
    width: 92%;
  }
}

/* // Projects Section \\ */

#projects {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.projects-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  margin: 0 auto;
}
.projects-container h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.pro-wrapper {
  width: auto;
  height: auto;
  margin: 0 auto;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 400px;
  column-gap: 80px;
  row-gap: 60px;
}
.pro {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 350px;
  height: 100%;
  padding: 0 10px;
  border: 2px solid rgba(255, 255, 255, 0.612);
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  display: flex;
  flex-direction: column;
}
.image-wrapper {
  width: 320px;
  height: 160px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  overflow: hidden;
}
.content h3 {
  text-align: center;
  margin-bottom: 5px;
}
.content p {
  font-size: 0.9rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.77);
  margin-top: 10px;
}
.line {
  width: 150px;
  height: 1.7px;
  margin: 0 auto;
  border-radius: 5px;
  background-image: linear-gradient(
    to right,
    #13adc7 0%,
    #6978d1 67%,
    #945dd6 100%
  );
}

.check {
  width: 100px;
  height: 30px;
  font-size: 0.9rem;
  margin: 0;
  margin-top: 10px;
  align-self: flex-start;
}

@media screen and (max-width: 950px) {
  .projects-container {
    width: 90%;
  }
  .pro-wrapper {
    column-gap: 30px;
  }
}
@media screen and (max-width: 800px) {
  .projects-container {
    width: 90%;
  }
  .pro-wrapper {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}
@media screen and (max-width: 480px) {
  .projects-container {
    width: 92%;
  }
  .content {
    width: 300px;
    height: 100%;
    padding: 0 5px;
  }
  .image-wrapper {
    width: 280px;
    height: 160px;
    margin: 0 auto;
    margin-top: 10px;
  }
}

/* Animation for Responsiveness */
@keyframes fade-in {
  100% {
    opacity: 1;
  }
}
